recursive-include c *.c *.h
recursive-include ffibuild *.py
recursive-include ffilupa *.py *.txt
recursive-include lua *.c *.h
include COPYRIGHT
include LICENSE.md
include README.rst
include setup.py
include tests.py
