include .gitignore
include .gitmodules
include .travis.yml
include COPYRIGHT
include LICENSE.md
include MANIFEST.in
include Makefile
include README.rst
include build_embedding.py
include docs/banner.svg
include docs/conf.py
include docs/ffilupa.rst
include docs/index.rst
include docs/logo.svg
include docs/modules.rst
include ffilupa-2.3.0.dev1-1.rockspec
include ffilupa.lua
include ffilupa/__init__.py
include ffilupa/compat.py
include ffilupa/exception.py
include ffilupa/lualibs.py
include ffilupa/metatable.py
include ffilupa/protocol.py
include ffilupa/py_from_lua.py
include ffilupa/py_to_lua.py
include ffilupa/runtime.py
include ffilupa/util.py
include ffilupa/version.txt
include findlua/CMakeLists_template.txt
include findlua/__init__.py
include findlua/cdef.h
include findlua/embedding-template.py
include findlua/embedding.c
include findlua/embedding.h
include findlua/lua_cdef.h
include findlua/source.c
include requirements.txt
include setup.py
include tests.py
include tests/test_compat.py
include tests/test_exception.py
include tests/test_init.py
include tests/test_lualibs.py
include tests/test_metatable.py
include tests/test_protocol.py
include tests/test_py_from_lua.py
include tests/test_py_to_lua.py
include tests/test_runtime.py
include tests/test_util.py
include third-party/lua/Makefile
include third-party/lua/README
include third-party/lua/doc/contents.html
include third-party/lua/doc/index.css
include third-party/lua/doc/logo.gif
include third-party/lua/doc/lua.1
include third-party/lua/doc/lua.css
include third-party/lua/doc/luac.1
include third-party/lua/doc/manual.css
include third-party/lua/doc/manual.html
include third-party/lua/doc/osi-certified-72x60.png
include third-party/lua/doc/readme.html
include third-party/lua/src/Makefile
include third-party/lua/src/lapi.c
include third-party/lua/src/lapi.h
include third-party/lua/src/lauxlib.c
include third-party/lua/src/lauxlib.h
include third-party/lua/src/lbaselib.c
include third-party/lua/src/lbitlib.c
include third-party/lua/src/lcode.c
include third-party/lua/src/lcode.h
include third-party/lua/src/lcorolib.c
include third-party/lua/src/lctype.c
include third-party/lua/src/lctype.h
include third-party/lua/src/ldblib.c
include third-party/lua/src/ldebug.c
include third-party/lua/src/ldebug.h
include third-party/lua/src/ldo.c
include third-party/lua/src/ldo.h
include third-party/lua/src/ldump.c
include third-party/lua/src/lfunc.c
include third-party/lua/src/lfunc.h
include third-party/lua/src/lgc.c
include third-party/lua/src/lgc.h
include third-party/lua/src/linit.c
include third-party/lua/src/liolib.c
include third-party/lua/src/llex.c
include third-party/lua/src/llex.h
include third-party/lua/src/llimits.h
include third-party/lua/src/lmathlib.c
include third-party/lua/src/lmem.c
include third-party/lua/src/lmem.h
include third-party/lua/src/loadlib.c
include third-party/lua/src/lobject.c
include third-party/lua/src/lobject.h
include third-party/lua/src/lopcodes.c
include third-party/lua/src/lopcodes.h
include third-party/lua/src/loslib.c
include third-party/lua/src/lparser.c
include third-party/lua/src/lparser.h
include third-party/lua/src/lprefix.h
include third-party/lua/src/lstate.c
include third-party/lua/src/lstate.h
include third-party/lua/src/lstring.c
include third-party/lua/src/lstring.h
include third-party/lua/src/lstrlib.c
include third-party/lua/src/ltable.c
include third-party/lua/src/ltable.h
include third-party/lua/src/ltablib.c
include third-party/lua/src/ltm.c
include third-party/lua/src/ltm.h
include third-party/lua/src/lua.c
include third-party/lua/src/lua.h
include third-party/lua/src/lua.hpp
include third-party/lua/src/luac.c
include third-party/lua/src/luaconf.h
include third-party/lua/src/lualib.h
include third-party/lua/src/lundump.c
include third-party/lua/src/lundump.h
include third-party/lua/src/lutf8lib.c
include third-party/lua/src/lvm.c
include third-party/lua/src/lvm.h
include third-party/lua/src/lzio.c
include third-party/lua/src/lzio.h
include tools/distclean.sh
include tools/normalize.py
include tools/update_manifest.py
